<% provide(:title, "Login") %>
<body class="background">
  <%= render 'layouts/header' %>
  <div class="container">
    <div class="form">
      <h1>Log In</h1>
      <%= form_for(:session, url: login_path) do |f| %>
        <p>
          <%= f.label :email %>
          <%= f.email_field :email %>
        </p>
        <p>
          <%= f.label :password %>
          <%= f.password_field :password %>
        </p>
        <p>
          <%= f.submit "Log in" %>
        </p>
      <% end %>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>
