<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <div id="home-container-left">
      <%= image_tag('https://s3.amazonaws.com/mywinebucket/wine-cellar.jpg',
                :id => 'home-pic') %>
      <h1 id="home-title">My Wine Cellar</h1>
      <%= link_to 'Cellar List', href="/wines", :class => 'button no-style', :id => 'home-list' %>
    </div>

    <div id="home-container-middle">
      <% wine_array = [] %>
      <% @wines.each do |wine| %>
        <% wine_array << wine %>
      <% end %>
      <% rand_wine = wine_array[rand(wine_array.length)] %>
      <% red_wine = [ 'syrah', 'shiraz', 'merlot', 'cabernet sauvignon', 'malbec', 'pinot noir', 'zinfandel', 'sangiovese', 'barbera'] %>
      <% white_wine = [ 'chardonnay', 'sauvignon blanc', 'semillon', 'moscato', 'pinot grigio', 'gewurztraminer', 'riesling'] %>
      <% if rand_wine.wine_pic.file? %>
        <%= image_tag rand_wine.wine_pic.url(:thumb), :id => "random-wine" %>
      <% else %>
        <% if red_wine.include?(rand_wine.variety.downcase) %>
          <%= image_tag('https://s3.amazonaws.com/mywinebucket/generic-red.jpg', height: '100', width: '100') %>
        <% elsif white_wine.include?(rand_wine.variety.downcase) %>
          <%= image_tag('https://s3.amazonaws.com/mywinebucket/generic-white.jpg', height: '100', width: '100') %>
        <% else %>
          <%= image_tag('https://s3.amazonaws.com/mywinebucket/generic-red.jpg', height: '100', width: '100') %>
        <% end %>
      <% end %>

    </div>

    <div id="home-container-right">

    </div>





    <%= render 'layouts/footer' %>
  </div>
</body>

