<% provide(:title, "Home") %>
<body class="background">
  <%= render 'layouts/header' %>
  <div class="container">
    <h1 id="home-title">My Wine Cellar</h1>
    <div id="home-container-left">
      <%= image_tag('https://s3.amazonaws.com/mywinebucket/wine-cellar.jpg',
                :id => 'home-pic') %>
      <%= link_to 'Cellar List', href="/wines", :class => 'button no-style', :id => 'home-list' %>
    </div>

      <% rand_wine = Wine.all[rand(Wine.all.length)] %>

    <div data-link="<%= wine_path(rand_wine.id) %>" id="home-container-middle">
      <h4 id="random-title">Random Selection</h4>
      <% red_wine = [ 'syrah', 'shiraz', 'merlot', 'cabernet sauvignon', 'malbec', 'pinot noir', 'zinfandel', 'sangiovese', 'barbera'] %>
      <% white_wine = [ 'chardonnay', 'sauvignon blanc', 'semillon', 'moscato', 'pinot grigio', 'gewurztraminer', 'riesling'] %>
      <% if rand_wine.wine_pic.file? %>
        <%= image_tag rand_wine.wine_pic.url(:thumb), :id => "random-wine" %>
      <% else %>
        <% if red_wine.include?(rand_wine.variety.downcase) %>
          <%= image_tag('https://s3.amazonaws.com/mywinebucket/generic-red.jpg', height: '100', width: '100', :id => "random-wine") %>
        <% elsif white_wine.include?(rand_wine.variety.downcase) %>
          <%= image_tag('https://s3.amazonaws.com/mywinebucket/generic-white.jpg', height: '100', width: '100', :id => "random-wine") %>
        <% else %>
          <%= image_tag('https://s3.amazonaws.com/mywinebucket/generic-red.jpg', height: '100', width: '100', :id => "random-wine") %>
        <% end %>
      <% end %>
      <p class="random-text"><%= rand_wine.name %></p>
      <p class="random-text"><%= rand_wine.variety %></p>
      <p class="random-text"><%= rand_wine.year %></p>
      <p class="random-text"><%= rand_wine.winery %></p>

    </div>

    <div id="home-container-right">

    </div>





    <%= render 'layouts/footer' %>
  </div>
</body>

