<% provide(:title, "Cellar List") %>
<body class="background">
  <%= render 'layouts/header' %>
  <div class="container">
    <h1 id="index_title">Cellar List</h1>
    <%= link_to 'Add Wine', new_wine_path, :class => 'button no-style', :id => 'add' %>
    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <th></th>
          <th><%= link_to 'Name', '/wines', :class => 'button no-style table_header', :id => 'no-margin' %></th>
          <th><%= link_to 'Varietal', '/wines', :class => 'button no-style table_header', :id => 'no-margin' %></th>
          <th><%= link_to 'Year', '/wines', :class => 'button no-style table_header', :id => 'no-margin' %></th>
          <th><%= link_to 'Winery', '/wines', :class => 'button no-style table_header', :id => 'no-margin' %></th>
          <th><%= link_to 'Quantity', '/wines', :class => 'button no-style table_header', :id => 'no-margin' %></th>
          <th><%= link_to 'Country', '/wines', :class => 'button no-style table_header', :id => 'no-margin' %></th>
          <th><%= link_to 'Region', '/wines', :class => 'button no-style table_header', :id => 'no-margin' %></th>
          <th><%= link_to 'Notes', '/wines', :class => 'button no-style table_header', :id => 'no-margin' %></th>
        </tr>

        <% @wines.each do |wine| %>
          <tr data-link="<%= wine_path(wine) %>">
            <td class='center'>
              <% red_wine = [ 'syrah', 'shiraz', 'merlot', 'cabernet sauvignon', 'malbec', 'pinot noir', 'zinfandel', 'sangiovese', 'barbera'] %>
              <% white_wine = [ 'chardonnay', 'sauvignon blanc', 'semillon', 'moscato', 'pinot grigio', 'gewurztraminer', 'riesling'] %>
              <% if wine.wine_pic.file? %>
                <%= link_to image_tag(wine.wine_pic.url(:thumb)),  wine_path(wine) %>
              <% else %>
                <% if red_wine.include?(wine.variety.downcase) %>
                  <%= link_to image_tag('https://s3.amazonaws.com/mywinebucket/generic-red.jpg', height: '100', width: '100'), wine_path(wine) %>
                <% elsif white_wine.include?(wine.variety.downcase) %>
                  <%= link_to image_tag('https://s3.amazonaws.com/mywinebucket/generic-white.jpg', height: '100', width: '100'), wine_path(wine) %>
                <% else %>
                  <%= link_to image_tag('https://s3.amazonaws.com/mywinebucket/generic-red.jpg', height: '100', width: '100'), wine_path(wine) %>
                <% end %>
              <% end %>
            </td>
            <td class='thcenter'><%= link_to wine.name, wine_path(wine) %></td>
            <td class='thcenter'><%= wine.variety %></td>
            <td class='thcenter'><%= wine.year %></td>
            <td class='thcenter'><%= wine.winery %></td>
            <td class='thcenter'><%= wine.quantity %></td>
            <td class='thcenter'><%= wine.country %></td>
            <td class='thcenter'><%= wine.region %></td>
            <% if wine.notes.length > 150 %>
              <td class='thcenter'><%= wine.notes[0..150].rstrip + '...' %></td>
            <% else %>
              <td class='thcenter'><%= wine.notes %></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>
