<h1>Wine List</h1>
<%= link_to 'New Wine', new_wine_path %>
<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Variety</th>
    <th>Year</th>
    <th>Winery</th>
    <th>Quantity</th>
    <th>Country</th>
    <th>Region</th>
    <th>Notes</th>
  </tr>

  <% @wines.each do |wine| %>
    <tr>
      <td class='center'><%= link_to image_tag(wine.wine_pic.url(:thumb)), wine_path(wine) %>
      <td class='center'><%= link_to wine.name, wine_path(wine) %></td>
      <td class='center'><%= wine.variety %></td>
      <td class='center'><%= wine.year %></td>
      <td class='center'><%= wine.winery %></td>
      <td class='center'><%= wine.quantity %></td>
      <td class='center'><%= wine.country %></td>
      <td class='center'><%= wine.region %></td>
      <td class='center'><%= wine.notes %></td>
    </tr>
  <% end %>
</table>
