<h1>Wine List</h1>
<%= link_to 'New Wine', new_wine_path %>
<div class="table-responsive">
  <table class="table table-hover">
    <tr>
      <th></th>
      <th>Name</th>
      <th>Variety</th>
      <th>Year</th>
      <th>Winery</th>
      <th>Quantity</th>
      <th>Country</th>
      <th>Region</th>
      <th>Notes</th>
    </tr>

    <% @wines.each do |wine| %>
      <tr>
        <td class='center'><%= link_to image_tag(wine.wine_pic.url(:thumb)),  wine_path(wine) %>
        <td class='thcenter'><%= link_to wine.name, wine_path(wine) %></td>
        <td class='thcenter'><%= wine.variety %></td>
        <td class='thcenter'><%= wine.year %></td>
        <td class='thcenter'><%= wine.winery %></td>
        <td class='thcenter'><%= wine.quantity %></td>
        <td class='thcenter'><%= wine.country %></td>
        <td class='thcenter'><%= wine.region %></td>
        <td class='thcenter'><%= wine.notes %></td>
      </tr>
    <% end %>
  </table>
</div>
