<body id="index_background">
  <%= render 'layouts/header' %>
  <div class="container">
    <h1 id="index_title">Cellar List</h1>
    <%= link_to 'New Wine', new_wine_path %>
    <div class="table-responsive">
      <table class="table table-hover">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Variety</th>
          <th>Year</th>
          <th>Winery</th>
          <th>Quantity</th>
          <th>Country</th>
          <th>Region</th>
          <th>Notes</th>
        </tr>

        <% @wines.each do |wine| %>
          <tr data-link="<%= wine_path(wine) %>">
            <td class='center'>
              <% red_wine = [ 'syrah', 'shiraz', 'merlot', 'cabernet sauvignon', 'malbec', 'pinot noir', 'zinfandel', 'sangiovese', 'barbera'] %>
              <% white_wine = [ 'chardonnay', 'sauvignon blanc', 'semillon', 'moscato', 'pinot grigio', 'gewurztraminer', 'riesling'] %>
              <% if wine.wine_pic.file? %>
                <%= link_to image_tag(wine.wine_pic.url(:thumb)),  wine_path(wine) %>
              <% else %>
                <% if red_wine.include?(wine.variety.downcase) %>
                  <%= link_to image_tag('https://s3.amazonaws.com/mywinebucket/generic-red.jpg', height: '100', width: '100'), wine_path(wine) %>
                <% elsif white_wine.include?(wine.variety.downcase) %>
                  <%= link_to image_tag('https://s3.amazonaws.com/mywinebucket/generic-white.jpg', height: '100', width: '100'), wine_path(wine) %>
                <% else %>
                  <%= link_to image_tag('https://s3.amazonaws.com/mywinebucket/generic-red.jpg', height: '100', width: '100'), wine_path(wine) %>
                <% end %>
              <% end %>
            </td>
            <td class='thcenter'><%= link_to wine.name, wine_path(wine) %></td>
            <td class='thcenter'><%= wine.variety %></td>
            <td class='thcenter'><%= wine.year %></td>
            <td class='thcenter'><%= wine.winery %></td>
            <td class='thcenter'><%= wine.quantity %></td>
            <td class='thcenter'><%= wine.country %></td>
            <td class='thcenter'><%= wine.region %></td>
            <td class='thcenter'><%= wine.notes %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>
