<% provide(:title, "Add New Wine") %>
<body class="background">
  <%= render 'layouts/header' %>
  <div class="container">
    <article class="form-center">
      <h1>Add Wine</h1>
      <%= form_for :wines, url: wines_path do |f| %>
        <% if @wines.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@wines.errors.count, "error") %> prohibited
              this wines from being saved:
            </h2>
            <ul>
              <% @wines.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <p>
          <%= f.text_area :name, :placeholder => 'Name', :class => 'addform' %>
        </p>

        <p>
          <%= f.text_area :variety, :placeholder => 'Varietal', :class => 'addform' %>
        </p>

        <p>
          <%= f.text_area :year, :placeholder => 'Year', :class => 'addform' %>
        </p>

        <p>
          <%= f.text_area :winery, :placeholder => 'Winery', :class => 'addform' %>
        </p>

        <p>
          <%= f.text_area :quantity, :placeholder => 'Quantity', :class => 'addform' %>
        </p>

        <p>
          <%= f.text_area :country, :placeholder => 'Country', :class => 'addform' %>
        </p>

        <p>
          <%= f.text_area :region, :placeholder => 'Region', :class => 'addform' %>
        </p>

        <p>
          <%= f.text_area :notes, :placeholder => 'Notes', :class => 'wide-form' %>
        </p>

        <p id='upload-button'>
          <%= f.label 'Upload Wine Pic' %>
          <%= f.file_field :wine_pic %>
        </p>

        <p>
          <%= f.submit 'Submit', :class => 'button no-style bottom submit' %>
          <%= link_to 'Back', wines_path, :class => 'button no-style bottom', :id => 'back' %>
        </p>

      <% end %>

    </article>
    <%= render 'layouts/footer' %>
  </div>
</body>
