<% provide(:title, @wine.name) %>
<body class="background">
  <%= render 'layouts/header' %>
  <div class="container">
    <article id="show-page">
      <h1><%= @wine.name %></h1>
      <% if @wine.wine_pic.file? %>
        <%= image_tag(@wine.wine_pic.url(:medium), height: '300', width: '300', class: "show-pic") %>
      <% else %>
          <%= image_tag(red_or_white(@wine.variety.downcase), class: "show-pic") %>
      <% end %>

      <p><b>Varietal: &nbsp&nbsp&nbsp</b><%= @wine.variety %></p>
      <p><b>Year: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b><%= @wine.year %></p>
      <p><b>Winery: &nbsp&nbsp&nbsp&nbsp</b><%= @wine.winery %></p>
      <p><b>Quantity: &nbsp&nbsp</b><%= @wine.quantity %></p>
      <p><b>Country: &nbsp&nbsp&nbsp</b><%= @wine.country %></p>
      <p><b>Region: &nbsp&nbsp&nbsp&nbsp</b><%= @wine.region %></p>
      <p><b>Notes: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</b><%= @wine.notes %></p>

      <a class="button no-style bottom" href="/">Drink</a>
      <%= link_to 'Edit', edit_wine_path(@wine), :class => 'button no-style bottom' %>
      <%= link_to 'Back', wines_path, :class => 'button no-style bottom' %>
      <%= link_to 'Delete', @wine, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button no-style bottom' %>

    </article>
    <%= render 'layouts/footer' %>
  </div>
</body>
