<h1><%= @wines.name %></h1>
  <% if @wines.wine_pic.file? %>
    <%= image_tag @wines.wine_pic.url(:thumb) %>
  <% else %>
    <%= image_tag('https://s3.amazonaws.com/mywinebucket/generic-red.jpg', height: '300', width: '300') %>
  <% end %>

<p><%= link_to 'Destroy', @wines,
              method: :delete, data: { confirm: 'Are you sure?' } %></p>
<p><%= link_to 'Edit', edit_wine_path(@wines) %></p>
<p><%= link_to 'Back', wines_path %></p>

<p><%= @wines.variety %></p>
<p><%= @wines.year %></p>
<p><%= @wines.winery %></p>
<p><%= @wines.quantity %></p>
<p><%= @wines.country %></p>
<p><%= @wines.region %></p>
<p><%= @wines.notes %></p>
